 
  .btn {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 10px 20px;
  }
  .btn-rounded {
    border-radius: 50px;
  }
  
  .btn-green {
    background-color: #3fb0ac;
    color: white;
  }
  .btn-transparent {
    background-color: transparent;
    color: white;
  }
  .btn-blue {
    background-color: #22264b;
    color: white;
  }
  .btn-yellow {
    background-color: #e6cf8b;
    color: black;
  }
  
  .btn-border--blue {
    border: 1px solid #22264b;
    color: #b56969;
  }