ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  color: #000; }
  a:hover {
    color: inherit; }

body {
  font-family: 'Poppins', sans-serif; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif; }

ul {
  list-style: none;
  padding: 0px;
  margin: 0; }

a {
  color: black; }

a:hover {
  color: inherit; }

@media (max-width: 420px) {
  header {
    display: block;
    text-align: center; } }
.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.menu-wrapper .nav-item {
  padding: 0 10px; }

.bg-color--blue {
  background: #22264b; }

.form-group label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding-bottom: 10px;
  font-weight: bold;
  color: #B5B4B4; }

.form-group input {
  height: 45px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border-color: #B5B4B4;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.form-group input:focus {
  border-width: 2px;
  border-color: #22264b;
  outline: none; }

.form-group input:active {
  border-width: 2px;
  border-color: #22264b;
  outline: none; }

.form-group textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-color: #B5B4B4;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px; }

.form-group textarea:focus {
  border-width: 2px;
  border-color: #22264b;
  outline: none; }

.form-group textarea:active {
  border-width: 2px;
  border-color: #22264b;
  outline: none; }

.register-user-section {
  height: 100vh; }

@media (max-width: 420px) {
  .register-user-section {
    height: auto; } }
@media (max-width: 420px) {
  .register-user-section .login-section {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0; } }
.register-user-section .login-section a {
  margin-left: 10px; }

.register-user-section .main-title {
  padding-top: 30px; }

@media (max-width: 420px) {
  .register-user-section .main-title {
    padding-top: 20px; } }
.register-user-section .register-user-form {
  padding: 40px 0; }

@media (max-width: 768px) {
  .register-user-section .register-user-form .request-link {
    display: block;
    margin-top: 10px; } }
.register-user-section .cgu-wrapper {
  padding: 20px 0; }

.remember-check {
  padding: 20px 0; }

.dashboard-container {
  display: -webkit-flex;
  display: flex;
  width: 100%; }

.user-info-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

@media (max-width: 420px) {
  .user-info-wrapper {
    display: block; } }
.user-info-wrapper table {
  width: 100%; }

.user-info-wrapper .white-card {
  background-color: white;
  width: 50%;
  padding: 20px; }

@media (max-width: 420px) {
  .user-info-wrapper .white-card {
    width: 100%; } }
.user-info-wrapper .white-card:first-of-type {
  margin-right: 20px; }

.user-info-wrapper .white-card .info-user-line {
  padding-bottom: 10px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

@media (max-width: 420px) {
  .user-info-wrapper .white-card .info-user-line {
    display: block; } }
.user-info-wrapper .white-card .info-user-line label {
  color: #B5B4B4;
  text-transform: uppercase;
  letter-spacing: 1px; }

.user-info-wrapper .white-card .info-user-line span {
  font-weight: 500; }

.user-info-wrapper .white-card .custom-list li {
  font-size: 15px; }

.user-info-wrapper .white-card .custom-list li i {
  font-size: 17px;
  vertical-align: inherit; }

.user-info-wrapper .white-card table th {
  text-align: center;
  width: 100px; }

.user-info-wrapper .white-card table tbody td {
  padding: 20px 0;
  position: relative; }

.user-info-wrapper .white-card table tbody td .checkbox-custom {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%); }

#sideBarUser {
  background-color: white;
  width: 300px;
  min-height: 100vh;
  padding: 40px; }

@media (max-width: 1000px) {
  #sideBarUser {
    display: none; } }
#sideBarUser nav {
  padding: 40px 0; }

#sideBarUser .card-body ul {
  padding-left: 15px;
  padding-top: 10px; }

#sideBarUser .card-body ul li {
  font-size: 12px;
  padding-bottom: 10px;
  text-transform: none;
  letter-spacing: 0px; }

#sideBarUser ul li {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #B5B4B4;
  padding-bottom: 20px; }

#sideBarUser ul li.active a {
  color: #22264b;
  font-weight: bold;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

#sideBarUser ul li.active i {
  color: #22264b;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

#sideBarUser ul li:hover a {
  color: #22264b;
  font-weight: bold;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

#sideBarUser ul li:hover i {
  color: #22264b;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

#sideBarUser ul li a {
  color: #B5B4B4;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

#sideBarUser ul li i {
  color: #B5B4B4;
  padding-right: 10px;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }

#mainContent {
  width: 100%;
  min-height: 100vh;
  padding: 40px 40px;
  position: relative; }

@media (max-width: 420px) {
  #mainContent {
    padding: 10px; } }
@media (max-width: 420px) {
  #mainContent textarea {
    width: 100%; } }
#mainContent .breadcrumb {
  background-color: transparent; }

@media (max-width: 420px) {
  #mainContent .breadcrumb {
    text-align: center; } }
#mainContent .button-group {
  margin-bottom: 20px;
  margin-right: 10px; }

@media (max-width: 420px) {
  #mainContent .button-group {
    text-align: center; } }
@media (max-width: 420px) {
  #mainContent .button-group .btn {
    margin-bottom: 10px; } }
#mainContent .back-button {
  position: absolute;
  top: 5%;
  right: 5%; }

#mainContent h2 {
  color: #B5B4B4;
  padding-bottom: 20px; }

.header-user {
  padding: 20px 0; }

.header-user .logo-wrapper {
  text-align: center;
  padding-bottom: 20px; }

.header-user .profil-picture {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-border-radius: 70px;
  -webkit-border-radius: 70px;
  border-radius: 70px;
  margin: 0 auto; }

.header-user .profil-picture.no-picture {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.header-user .profil-picture.no-picture a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative; }

.header-user .profil-picture.no-picture a .no-picture-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.header-user .profil-picture.no-picture a i {
  color: #22264b; }

.header-user .profil-picture.no-picture a p {
  font-size: 10px; }

.header-user .profil-picture.no-picture:hover {
  background-color: #22264b; }

.header-user .profil-picture.no-picture:hover p {
  color: white; }

.header-user .profil-picture.no-picture:hover i {
  color: white; }

.header-user h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  margin-top: 20px; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px; }

footer {
  background-color: #3fb0ac;
  text-align: center;
  padding: 20px; }

.home-section--hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0; }

.home-section--hero .left-part {
  width: 50%; }

.home-section--hero .right-part {
  width: 50%; }

.home-section--hero .hero-content h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 15px;
  color: #22264b; }

.home-section--hero .hero-content h1 {
  color: #b56969;
  font-size: 65px;
  font-weight: bold; }

.home-section--overview .interface-wrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.home-section--overview .interface-item {
  width: calc(100%/3);
  text-align: center;
  margin: 20px; }

.home-section--overview .interface-item h3 {
  font-weight: bold;
  color: #b56969;
  margin-bottom: 20px; }

.home-section--overview .interface-item p {
  font-size: 13px; }

.home-section--overview .interface-item .interface-thumbnail img {
  height: 200px;
  border-radius: 200px;
  box-shadow: 5px 3px 12px -1px #eaeaeac4; }

.home-section--overview .interface-item .interface-item--content {
  margin-top: 30px; }

.home-section--features .features-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px; }

.home-section--features .features-wrapper .feature-card {
  background: #f5f7f9;
  padding: 25px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.home-section--features .features-wrapper .feature-card p {
  font-size: 12px; }

.home-section--features .features-wrapper .feature-card h4 {
  font-weight: bold;
  letter-spacing: 3px;
  padding-bottom: 10px; }

.home-section--features .features-wrapper .feature-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.home-section--demo h2 {
  color: white; }

.home-section--demo p {
  color: white; }

.bg-color--blue {
  background: #22264b; }
.bg-color--white {
  background: white;
  box-shadow: 5px 3px 12px -1px #eaeaeac4; }

.btn {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  padding: 10px 20px; }

.btn-rounded {
  border-radius: 50px; }

.btn-green {
  background-color: #3fb0ac;
  color: white; }

.btn-transparent {
  background-color: transparent;
  color: white; }

.btn-blue {
  background-color: #22264b;
  color: white; }

.btn-yellow {
  background-color: #e6cf8b;
  color: black; }

.btn-border--blue {
  border: 1px solid #22264b;
  color: #b56969; }

.text-color--white {
  color: white; }

.main-title {
  text-align: center; }

.main-title h2 {
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: bold;
  color: #22264b; }

/*# sourceMappingURL=style.css.map */
