  .home-section--hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
  .home-section--hero .left-part {
    width: 50%;
  }
  .home-section--hero .right-part {
    width: 50%;
  }
  .home-section--hero .hero-content h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    color: #22264b;
  }
  .home-section--hero .hero-content h1 {
    color: #b56969;
    font-size: 65px;
    font-weight: bold;
  }
  .home-section--overview .interface-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-section--overview .interface-item {
    width: calc(100%/3);
    text-align: center;
    margin: 20px;
  }
  .home-section--overview .interface-item h3 {
    font-weight: bold;
    color: #b56969;
    margin-bottom: 20px;
  }
  .home-section--overview .interface-item p {
    font-size: 13px;
  }
  .home-section--overview .interface-item .interface-thumbnail img {
    height: 200px;
    border-radius: 200px;
    box-shadow: 5px 3px 12px -1px #eaeaeac4;
  }
  .home-section--overview .interface-item .interface-item--content {
    margin-top: 30px;
  }
  .home-section--features .features-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  .home-section--features .features-wrapper .feature-card {
    background: #f5f7f9;
    padding: 25px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .home-section--features .features-wrapper .feature-card p {
    font-size: 12px;
  }
  .home-section--features .features-wrapper .feature-card h4 {
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 10px;
  }
  .home-section--features .features-wrapper .feature-card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  .home-section--demo h2 {
    color: white;
  }
  .home-section--demo p {
    color: white;
  }