// AddUser.vue

<template>
  <div class="container">
    <header>
        <div class="header-logo">
            <a href="/socializer/src/pages/dashboard-infos.html">
                <img src="../ressources/img/logo_socializer.svg">
            </a>
        </div>
        <div class="login-section py-2">
            Déjà inscrit ?
            <a href="/socializer/src/pages/login.html" class="btn btn-rounded btn-transparent btn-border--blue">connexion</a>
        </div>
    </header>
    <div class="main-title">
        <h1>Inscrivez-vous sur <span class="color-red"/>Socializer.</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <h1>Create A User</h1>
    <form v-on:submit.prevent="addUser">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Email ID:</label>
            <input type="text" class="form-control" v-model="user.email"/>
          </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>User name:</label>
              <textarea cols="5" rows="5" class="form-control col-md-6" v-model="user.name"></textarea>
            </div>
          </div>
        </div><br />
        <div class="form-group">
          <button class="btn btn-primary">Create User</button>
        </div>
    </form>
  </div>
</template>
<script>
export default {
    data(){
        return {
          user: {}
        }
    },
    methods: {
       addUser() {
             let uri = 'http://localhost:4000/users/add';
            this.axios.post(uri, this.user).then((response) => {
               console.log(response);
            });
       }
    }
}
</script>