<template>
  <div class="container">
    <header>
      <div>
            <a href="/">
                <img src="../ressources/img/logo_socializer.svg" alt="logo socializer">
            </a>
        </div>

        <div class="header-menu">

            <nav class="menu-wrapper">

                <ul class="nav">

                    <li class="nav-item">
                        <a href="#" class="nav-link" title="">Why Socialize test</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link" title="">Features</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" title="">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a href="sign-in.html" class="nav-link btn btn-rounded btn-transparent btn-border--blue" title="">Register</a>
                    </li>

                </ul>

                <div class="social-wrapper">

                    <ul>
                        <li>
                            <a href="" class="nav-item">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="" class="nav-item">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="" class="nav-item">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>

                </div>

            </nav>

        </div>

    </header>

        <section class="home-section--hero container">

            <div class="left-part">

                <div class="hero-content">

                    <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                    <h1>Socializer Insight</h1><br/>
                    <p>Lorem <b>ipsum dolor sit amet</b>, consectetur adipisicing elit. Nihil perspiciatis vero perferendis enim rerum, harum neque mollitia consequuntur dolor aspernatur accusamus modi. Quas eveniet tempora omnis soluta dolorum voluptatibus praesentium!</p>
                    <a href="" class="btn btn-rounded btn-yellow">Schedule a demo</a>

                </div>

            </div>

            <div class="right-part text-center">

                <img src="../ressources/img/illustration.png" alt="hero socializer">

            </div>

        </section>

        <section class="home-section--overview container">

            <div class="main-title">

                <h2>Know your followers</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta velit commodi facilis.</p>

            </div>
            <div class="interface-wrapper py-5">

                <div class="interface-item">

                    <div class="interface-thumbnail">

                        <img src="../ressources/img/screen1.png" alt="overview application">

                    </div>
                    <div class="interface-item--content">

                        <h3>Forecast</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae laborum soluta porro repellat, neque quos! Nisi atque odio dolorum voluptatum inventore</p>

                    </div>

                </div>
                <div class="interface-item">

                    <div class="interface-thumbnail">

                        <img src="../ressources/img/screen2.png">

                    </div>
                    <div class="interface-item--content">

                        <h3>Visualization</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae laborum soluta porro repellat, neque quos! Nisi atque odio dolorum voluptatum inventore</p>

                    </div>

                </div>
                <div class="interface-item">

                    <div class="interface-thumbnail">

                        <img src="../ressources/img/screen3.png">

                    </div>
                    <div class="interface-item--content">

                        <h3>Improvment</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae laborum soluta porro repellat, neque quos! Nisi atque odio dolorum voluptatum inventore</p>

                    </div>

                </div>

            </div>

        </section>

        <section class="home-section--features container">

            <div class="features-wrapper py-5">

                <div class="feature-card">

                    <div class="card-icon">
                        <i class="fas fa-chart-pie"></i>
                    </div>

                    <h4>Feature 1</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quasi.</p>

                </div>

                <div class="feature-card">

                    <div class="card-icon">
                        <i class="fab fa-algolia"></i>
                    </div>

                    <h4>Feature 2</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quasi.</p>

                </div>

                <div class="feature-card">

                    <div class="card-icon">
                        <i class="fab fa-cc-paypal"></i>
                    </div>

                    <h4>Feature 3</h4>
                    <p>Sint ratione, vel doloribus quis minus quos provident. Excepturi, quasi.</p>

                </div>

                <div class="feature-card">

                    <div class="card-icon">
                        <i class="fas fa-cubes"></i>
                    </div>

                    <h4>Feature 4</h4>
                    <p>Cupiditate dolorem, pariatur unde sequi laudantium deserunt quo animi sit modi iure sint ratione, vel doloribus quis minus quos provident.</p>

                </div>

                <div class="feature-card">

                    <div class="card-icon">
                        <i class="fas fa-cloud-download-alt"></i>
                    </div>

                    <h4>Feature 5</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, quasi.</p>

                </div>

                <div class="feature-card">

                    <div class="card-icon">
                        <i class="fas fa-comments"></i>
                    </div>

                    <h4>Feature 6</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dolorem, pariatur unde sequi.</p>

                </div>

            </div>

        </section>

        <section class="home-section--demo bg-color--blue py-5">

            <div class="main-title is-white">

                <h2>Want a personal Tour ?</h2>
                <p>Dolores modi reprehenderit, <b>facilis nihil</b> nihil nam iste magni recusandae tempora a voluptatem.</p>
                <div class="py-5">

                    <a href="" class="btn btn-square btn-green">Schedule a demo</a>

                </div>

            </div>

        </section>

        <section class="home-section--register py-5">

            <div class="register-form py-5 bg-color--white">

                <h2>Get access to the App</h2>

                <form>

                    <div class="form-group">

                        <label for="firstName">First name</label>
                        <input type="text" name="firstName" class="form-control">

                    </div>

                    <div class="form-group">

                        <label for="lastName">Last name</label>
                        <input type="text" name="text" class="form-control">

                    </div>

                    <div class="form-group">

                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control">

                    </div>

                    <div class="form-group">

                        <label for="phone">Phone</label>
                        <input type="number" name="phone" class="form-control">

                    </div>

                    <div class="form-group">

                        <button class="btn btn-blue" name="submit" type="button">Submit</button>

                    </div>

                </form>

            </div>

        </section>

    <footer>

        <div class="footer-logo">
            <img src="../ressources/img/logo_socializer.svg" alt="logo socializer">
        </div>

        <p>Copyright © Socializer 2019</p>

    </footer>
  </div>
</template>

<script src="../helpers/menu.js"></script>
<script src="../helpers/insight.js"></script>
<script src="../helpers/follower.js"></script>