<template>
    <div class="container">
        <header>
            <div class="header-logo">
                <a href="/">
                    <img src="../ressources/img/logo_socializer.svg">
                </a>
            </div>
            <!-- login section header -->
            <div class="login-section">
                Vous n’avez pas encore de compte ?
                <a href="sign-in.html" class="btn btn-rounded btn-transparent btn-border--blue">inscription</a>
            </div>
        </header>

        <div class="register-user-section">

            <div class="main-title">
                <h1>Connectez-vous sur <span class="color-red"/>Socializer.</h1>
                </div>
                <form  class="register-user-form w-75 mx-auto" @submit.prevent="login">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="">Utilisateur / mail</label>
                                <input type="text" class="form-control" required="required" placeholder="Utilisateur ou adresse mail" v-model="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <label for="">Mot de passe</label>
                                <input type="password" class="form-control" required="required" placeholder="Mot de passe" v-model="password">
                            </div>
                        </div>
                    </div>
                    <div class="remember-check">
                        <input type="checkbox" id="remember_me" name="_remember_me" checked="">
                        <label for="remember_me">Se souvenir de moi</label>
                    </div>
                    <input type="hidden" id="fos_user_registration_form__token" name="fos_user_registration_form[_token]" value="Q0FAwlluzXShFp-gIJG8E66IMoO55LwoYPCRo12Ys_Y">
                    <button type="submit" class="btn btn-rounded btn-green"> Connexion
                        <!-- <a href="dashboard.html">Connexion</a> -->
                    </button>
                    <a class="request-link" href="request-password.php">J'ai oublié mon mot de passe</a>
                    <div class="alert alert-danger" v-if="error">{{ error }}</div>
                </form>
                <a href="dashboard.html">Lien vers le dashboard</a>

            </div>
    </div>
</template>
<script src="../helpers/login.js"></script>

<script>
export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: '',
      error: false
    }
  },
  methods: {
    login () {
        let uri = 'http://localhost:4000/users/auth';
        this.axios.post(uri, { user: this.email, password: this.password })
        .then(request => this.loginSuccessful(request))
        .catch(() => this.loginFailed())
      console.log(this.email)
      console.log(this.password)
    },
    loginSuccessful (req) {
        if (!req.data.token) {
            this.loginFailed()
            return
        }

        localStorage.token = req.data.token
        this.error = false

        this.$router.replace(this.$route.query.redirect || '/authors')
    },

    loginFailed () {
        this.error = 'Login failed!'
        delete localStorage.token
    }
  }
}
</script>
