<template>
    <div class="container">
        <header>
            <div class="header-logo">
                <a href="/socializer/src/pages/dashboard-infos.html">
                    <img src="../ressources/img/logo_socializer.svg">
                </a>
            </div>
            <div class="login-section py-2">
                Déjà inscrit ?
                <a href="login.html" class="btn btn-rounded btn-transparent btn-border--blue">connexion</a>
            </div>
        </header>

        <div class="register-user-section container">

            <!-- login section header -->


            <div class="main-title">
                <h1>Inscrivez-vous sur <span class="color-red"/>Socializer.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <form class="register-user-form" v-on:submit.prevent="addUser">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Prénom</label>
                            <input type="text" required="required" placeholder="Prénom" class="form-control" v-model="user.prenom">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Nom</label>
                            <input type="text" required="required" placeholder="Nom" class="form-control" v-model="user.nom">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Nom d'utilisateur</label>
                            <input type="text" required="required" maxlength="180" pattern=".{5,}" placeholder="Nom d'utilisateur" class="form-control" title="Au moins 5 caractéres" v-model="user.name">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" required="required" placeholder="Email" class="form-control" v-model="user.email">
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Mot de passe</label>
                            <input type="password" required="required" placeholder="Mot de passe" class="form-control">
                            <p class="help-block">
                                Au moins 6 caractéres, avec une majuscule, une minuscule et un chiffre
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="">Confirmation mot de passe</label>
                            <input type="password" required="required" placeholder="Confirmez votre mot de passe" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12 col-xs-12">
                        <div class="cgu-wrapper">
                            <input type="checkbox" id="cgu" name="cgu" required="required">
                            En vous inscrivant en tant qu'utilisateur, vous confirmez que vous acceptez les Conditions Générales du site et déclarez être informé des obligations civiles et fiscales qui incombent aux photographes exerçant une activité rémunérée.
                            <a target="_blank" href="/cgu">Lire les CGU</a>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-rounded btn-green">
                    Je m'inscris
                </button>
            </form>

        </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
          user: {}
        }
    },
    methods: {
       addUser() {
             let uri = 'http://localhost:4000/users/add';
            this.axios.post(uri, this.user).then((response) => {
               console.log(response);
            });
       }
    }
}
</script>
